<!DOCTYPE html>
<html>
<head>
    <title>Trues - Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>


<h2>welcome to trues</h2>
<gcse:search></gcse:search>

<h2>You have the right to know.
<br>
Let us open your eyes.
<br>
be able to distinguish between real and fake news Trues powerful extentsion</h2>
<br>
<br><a href="/static/file.js" download="Trues extension"><button type="button">Get it for Chrome now!</button></a>
<a href="/static/file.js" download="Trues extension"><button type="button">Get it for Safari now!</button></a>
<br><br>
<p><h2>More about us!</h2>

<h3>our vision: we envision a world where the spread of fake news is abolished, where people have the ability to tell the distinguish between what's real and what's fake
<br><br>
our mission: to inform people of the quilaty of their news and to reduce the spread of fake news for a better community 
<br><br>
our solution: Be able to distinguish between real and fake news with Trues' powerful extension
<br><br></h3>

</body>
</html>